 <!--=== Breadcrumbs v1 ===-->
<div class="breadcrumbs-v1 text-center">
    <div class="container">
        <h1><i>ข่าวประชาสัมพันธ์</i></h1>
    </div>
</div>
<!--=== End Breadcrumbs v1 ===-->
<!--=== Blog Posts ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <!-- News v3 -->
        <div class="news-v3 margin-bottom-30">
            <img class="img-responsive full-width" src="http://www.mea.or.th/upload/editor-pic/154/news2558/csr/e_bus/bye/1427642274_2.jpg" alt="">
            <div class="news-v3-in">
                <ul class="list-inline posted-info">
                    <li>เผยแพร่เมื่อ 24 มกราคม 2558</li>
                </ul>
                <h2><a href="#">กฟน. จัดกิจกรรม Young MEA ปั่น ปลูก by E-bus</a></h2>
                <p>นายสารนิต อังศุสิงห์ ผู้ช่วยผู้ว่าการการไฟฟ้านครหลวง เป็นประธานในพิธีเปิดกิจกรรม “Young MEA ปั่น ปลูก by E-bus” นำสมาชิกเว็บไซต์ www.youngmea.com ทำกิจกรรมด้านการอนุรักษ์พลังงานและสิ่งแวดล้อม ณ ตำบลบางกอบัว และตำบลทรงคนอง อำเภอพระประแดง จังหวัดสมุทรปราการ เมื่อวันที่ 28 มีนาคม 2558</p>
                <p>กิจกรรม “Young MEA ปั่น ปลูก by E-bus” เป็นกิจกรรมที่การไฟฟ้านครหลวง จัดขึ้นโดยมีวัตถุประสงค์เพื่อสร้างจิตสำนึกด้านการอนุรักษ์พลังงานและสิ่งแวดล้อม โดยนำสมาชิกเว็บไซต์ www.youngmea.com อายุตั้งแต่ 13 - 18 ปี จำนวน 20 คน เดินทางด้วย รถบัสโดยสารพลังงานไฟฟ้า (E-bus) จากการไฟฟ้านครหลวง สำนักงานใหญ่ ถึง สวนป่าเกดน้อมเกล้า จังหวัดสมุทรปราการ เพื่อเรียนรู้ระบบนิเวศทางธรรมชาติและลงมือเพาะชำกล้าไม้ประจำถิ่น เช่น ต้นลำพู ต้นลำแพน และต้นพิลังกาสา ฯลฯ กว่า 60 ต้น โดยมี คุณเปรมปรีย์ ไตรรัตน์ ประธานป่าชุมชนเมืองสวนป่าเกดน้อมเกล้า กล่าวต้อนรับ และรับหน้าที่เป็นวิทยากร นอกจากนี้สมาชิกยังได้ทำกิจกรรมปั่นจักรยานท่องเที่ยวเชิงนิเวศ ตามเส้นทางศึกษาธรรมชาติ พร้อมสอดแทรกความรู้ด้านการอนุรักษ์สิ่งแวดล้อม ผ่านฐานกิจกรรมต่างๆ ณ สวนป่าบางกอบัว และ ตลาดน้ำบางน้ำผึ้ง ซึ่งกิจกรรมทั้งหมดนี้ จะอยู่ภายใต้แนวคิดที่ว่า เรียนรู้อย่างเข้าใจ ท่องเที่ยวไปอย่างใส่ใจและเป็นมิตรต่อสิ่งแวดล้อม</p>
                <p>สำหรับกิจกรรมในครั้งนี้การไฟฟ้านครหลวงมุ่งมั่นที่จะส่งเสริมให้เยาวชนได้เรียนรู้และตระหนักถึงความสำคัญของพลังงานและสิ่งแวดล้อม เพื่อให้เกิดจิตสำนึก และนำไปสู่ การปรับเปลี่ยนพฤติกรรมในการใช้พลังงานอย่างรู้คุณคู่ ควบคู่ไปกับการดูแลรักษาสิ่งแวดล้อม อีกทั้งได้ร่วมทำกิจกรรมที่เป็นประโยชน์เพื่อสังคม สอดคล้องตามแนวคิดของกิจกรรม ที่ว่า “Young MEA ปั่น ปลูก by E-bus” เพื่ออนุรักษ์พลังงานและสิ่งแวดล้อม พร้อมทั้งได้เป็นส่วนหนึ่งในการสร้างเครือข่ายครอบครัวอนุรักษ์พลังงานและสิ่งแวดล้อม ของโครงการ Young MEA ให้เติบโตไปพร้อม ๆ กับสังคมที่มีความยั่งยืนด้านพลังงานและสิ่งแวดล้อมต่อไป</p>
                @*<ul class="post-shares post-shares-lg">
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-speech"></i>
                            <span>28</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-share"></i>
                            <span>355</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-heart"></i>
                            <span>107</span>
                        </a>
                    </li>
                </ul>*@
            </div>
        </div>
        <p><a class="btn btn-u btn-u-lg" href="@Url.Action("Index")"><i class="fa fa-backward"></i> Back </a></p>

        <!-- End News v3 -->
    </div><!--/end container-->
</div>
<!--=== End Blog Posts ===-->