body {
    font-family: "db_ozone_xregular", "Open Sans", Arial, sans-serif;
    font-size: 22px;
}

.header {
    background-color: #fff;
}

    .header .logo img {
        position: relative;
        z-index: 1;
    }

.da-slide h2 {
    color: #f9f9f9 !important;
    font-family: "db_ozone_xregular", "Open Sans",sans-serif;
    font-weight: 400 !important;
    line-height: 50px;
}

.da-slide p i {
    font-family: "db_ozone_xregular", "Open Sans",sans-serif;
}

.breadcrumbs-v1 {
    background-image: url('../Images/Slider/test.jpg');
    padding: 100px 0;
    position: relative;
}

    .breadcrumbs-v1 h1 i {
        font-size: 36px;
        font-style: normal;
        padding: 0 5px;
        text-transform: uppercase;
        background-color: rgba(230, 126, 34, 0.8);
    }

.link-list a, .footer-v1 address, .latest-list a {
    font-size: 18px;
}

.thumbnail h3 a, .thumbnail-style h3 a, .headline h2 {
    font-size: 24px;
}

.btn-u {
    font-size: 20px;
}
h2.heading-xs {
     font-size: 20px;
}

.footer-v1 .footer {
    background: none repeat scroll 0 0 #C8C9CB;
    padding: 40px 0;
}

.footer-v1 .footer p, .footer-v1 .footer h2, .footer-v1 address, .footer-v1 .link-list a, .footer-v1 .link-list i, .footer-v1 .copyright p {
    color: #333;
}

.footer-v1 .footer .headline {
    border-bottom: 1px dotted #333;
}

.footer-v1 .copyright {
    background: none repeat scroll 0 0 #fff;
    border-top: medium none;
    padding: 10px 0 5px;
}

.data-point-label {
    font-size: 18px;
}

.flot-tooltip { 
    font-size: 18px;
}


.form-control {
    font-size: 20px;
}