<div class="slider-inner">
    <div id="da-slider" class="da-slider" style="background:url(@Url.Content("~/Images/Slider/test.jpg")">
        <div class=" da-slide">
            <h2><i>กฟน. จัดกิจกรรม Young MEA </i><br /><i>ปั่น ปลูก by E-bus</i></h2>
            <p><i>กิจกรรม &quot;MEA ปั่น ปลูก by E-bus&quot; เป็นกิจกรรมที่การไฟฟ้านครหลวง </i><br /><i>จัดขึ้นโดยมีวัตถุประสงค์เพื่อสร้างจิตสำนึก</i><br /><i>ด้านการอนุรักษ์พลังงานและสิ่งแวดล้อม</i></p>
            <div class="da-img"><img style="max-width: 530px; max-height: 300px;"src="http://www.mea.or.th/upload/editor-pic/154/news2558/csr/e_bus/bye/1427642274_2.jpg" alt=""></div>
        </div>
        <div class=" da-slide">
            <h2><i>กฟน.แถลงผลโครงการ 60+ Earth Hour 2015</i><br /><i> เพียง 1 ช.ม. </i><br /><i>ช่วยชาติประหยัดค่าไฟกว่า 7 ล้านบาท</i></h2>
            <p><i>นางชุลี ศุภวรรธนะกุล รองผู้ว่าการการไฟฟ้านครหลวง</i><br /><i> แถลงผลการดำเนินโครงการปิดไฟ 1 ชั่วโมง </i><br /><i>เพื่อลดโลกร้อน ประจำปี 2558 (60+ Earth hour 2015)</i></p>
            <div class="da-img"><img style="max-width: 530px; max-height: 300px;" src="http://www.mea.or.th/upload/editor-pic/154/news2558/act_mea/ext_act/11082671_1077533288940474_5332893929521414890_n.jpg" alt=""></div>
        </div>
        <div class=" da-slide">
            <h2><i>3 ไฟฟ้า </i><br /><i>จัดประชุมคณะกรรมการปรับปรุง</i><br /><i>ความเชื่อถือได้ของระบบไฟฟ้า</i></h2>
            <p><i>นายรัตนโรจน์ ทวีสิน รองผู้ว่าการวิชาการและบริหารพัสดุ</i><br /><i> และผู้บริหาร กฟน. เข้าร่วมการประชุมคณะกรรมการ</i><br /><i>ปรับปรุงความเชื่อถือได้ของระบบไฟฟ้า ครั้งที่ 42</i></p>
            <div class="da-img"><img style="max-width: 530px; max-height: 300px;" src="http://www.mea.or.th/upload/editor-pic/154/news2558/gov/3electric/IMG_1706.JPG" alt=""></div>
        </div>
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </div>
    </div>
</div>
