
<ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
    <li class="list-group-item">
        <a href="@Url.Action("Index")"><i class="fa fa-user"></i> ข้อมูลส่วนตัว</a>
    </li>

    <li class="list-group-item">
        <a href="@Url.Action("Contract")"><i class="fa fa-pencil-square-o"></i> สัญญา</a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("Media")"><i class="fa fa-file-video-o"></i> สื่อ</a>
    </li>

</ul>